<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();" style="background-color:black; ><i class="fa fa-bars"></i> &#9776; Menu</button>
  <span class="w3-bar-item w3-right w3-text-black" style="opacity:0;">""</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">

  <br>

  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
    {% if user.is_authenticated %}
      <span> Welcome, <strong> {{user.username}} </strong> </span>
    {% else %}
      <span> Welcome, <strong> Anonymous </strong> </span>
    {% endif %}
    </div>
  </div>

  <hr>

  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>

  <div class="w3-bar-block">
    <a class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu </a>

    <a href="/" class="w3-bar-item w3-button w3-padding" onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i> Home </a>

    {% if user.is_authenticated %}
      <a href="/account" class="w3-bar-item w3-button w3-padding" onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i> Account </a>
    {% endif %}

    <a href="/dataanalyzeHome" class="w3-bar-item w3-button w3-padding" onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i> Data Analysis </a>
    <a href="/pubganalyticHome" class="w3-bar-item w3-button w3-padding" onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i> PUBG Analysis </a>

    {% if user.is_authenticated %}
      <a href="/logout" class="w3-bar-item w3-button w3-padding" onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i>  Logout </a>
    {% else %}
      <a href="/register" class="w3-bar-item w3-button w3-padding" onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i>  Register </a>
      <a href="/login" class="w3-bar-item w3-button w3-padding" onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i>  Login </a>
    {% endif %}
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
